//Make bootstrap margin narrower
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
	padding-left: 5px;
	padding-right: 5px;
}

.row{
	margin-left: -5px;
	margin-right: -5px;
}

.no_row_style{
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

.App {
  text-align: center;
  font-family: "Segoe UI", Tahoma, sans-serif;
  
	.Tabs{
		clear: both;
		width: 100%;
		float: none;
		
		.Tabs_list{
			border-bottom: 1px solid #ccc;
			text-align: left;
			margin: 0;
			padding: 0;
		}
		
		.Tabs_text{
			display: inline-block;
			background: white;
			margin-bottom: -1px;
			padding: 6px 10px;
			list-style: none;
			border-bottom: none;
			text-transform: uppercase;
			font-size: 11px;
			border: 1px solid #ccc;
			background: #eee;
			cursor: pointer;
			
			&.active{
				background: white;
				border-bottom: white;
				padding-bottom: 7px;
				margin-bottom: -2px;
			}
		}
	}
	
	.Content{
		border: 1px solid #ccc;	
		border-top: 0px;
		
	}	
	
}



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
