body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.external{
	text-align: center;
	padding: 30px;
	
	.external_container{
		margin: 0 auto;
		max-width: 550px;
		width: 100%;
	}

	.external_text{
		margin: 10px 0 0;
		color: #99f;
		text-align: center;
		line-height: 1.3em;
	}
}

