.Section{
	padding: 5px 10px 5px;
	text-align: left;
	
	h5{
		font-size: 12px;
		font-weight: bold;
		color: #777;
		text-transform: uppercase;
		margin: 5px 0 8px;
		padding: 0px;
	}

	h1{
		font-size: 15px;
		font-weight: bold;
		margin: 0 0 3px;
		padding: 0px;
		line-height: 1.3em;
	}
	p{
		font-size: 14px;
		color: #777;
		line-height: 1.3em;
		
		&.small{
			font-size: 11px;
			margin-bottom: 5px;
		}
	}
	img{
		width: 100%;
	}
	ul{
		padding: 0px;
		
		li{
			margin-left: 0;
			list-style: disc;
			list-style-position: inside;
			font-size: 13px;
			color: #aaa;
			
			&>span{
				color: black;
				position: relative;
				left: -6px;
			}
		}
	}
	.divider{
		width: 100%;
		height: 1px;
		border-bottom: 1px solid #ddd;
		margin: 10px 0 0;
	}
}